-- vim: noet ts=2 sts=2 sw=2
pidfile = "/run/prosody/prosody.pid";

---------- Server-wide settings ----------
admins = { 'pep@cluxia.eu', 'pep@bouah.net', 'liori@cluxia.eu' };

plugin_paths = { '/usr/lib/prosody/prosody-modules' };

modules_enabled = {

	-- Generally required
	"roster"; -- Allow users to have a roster. Recommended ;)
	"saslauth"; -- Authentication for clients and servers. Recommended if you want to log in.
	"tls"; -- Add support for secure TLS on c2s/s2s connections
	"dialback"; -- s2s dialback support
	"disco"; -- Service discovery

	-- Not essential, but recommended
	"carbons"; -- Keep multiple clients in sync
	"pep"; -- Enables users to publish their mood, activity, playing music and more
	"private"; -- Private XML storage (for room bookmarks, etc.)
	"blocklist"; -- Allow users to block communications with other users
	"vcard"; -- Allow users to set vCards

	-- Nice to have
	"version"; -- Replies to server version requests
	"uptime"; -- Report how long server has been running
	"time"; -- Let others know the time here on this server
	"ping"; -- Replies to XMPP pings with pongs
	"register"; -- Allow users to register on this server using a client and change passwords
	"mam"; -- Store messages in an archive and allow users to access it

	-- Admin interfaces
	"admin_adhoc"; -- Allows administration via an XMPP client that supports ad-hoc commands
	"admin_telnet"; -- Opens telnet console interface on localhost port 5582

	-- HTTP modules
	"http";
	"bosh"; -- Enable BOSH clients, aka "Jabber over HTTP"
	"websocket"; -- XMPP over WebSockets
	--"http_files"; -- Serve static files from a directory over HTTP

	-- Other specific functionality
	--"limits"; -- Enable bandwidth limiting for XMPP connections
	--"groups"; -- Shared roster support
	"server_contact_info"; -- Publish contact information for this service
	"announce"; -- Send announcement to all online users
	--"welcome"; -- Welcome users who register accounts
	"watchregistrations"; -- Alert admins of registrations
	--"motd"; -- Send a message to users when they log in
	--"legacyauth"; -- Legacy authentication. Only used by some old clients and bots.
	-- "proxy65"; -- Enables a file transfer proxy service which clients behind NAT can use

	-- Additional Modules
	"auto_answer_disco_info";
	"bookmarks";
	"block_registrations";
	"cloud_notify";
	"csi";
	"csi_battery_saver";
	"easy_invite";
	"firewall";
	"inject_ecaps2";
	"invite";
	"lastlog";
	"measure_client_features";
	"measure_client_identities";
	"measure_client_presence";
	"measure_cpu";
	"measure_malloc";
	"measure_memory";
	"measure_message_e2ee";
	"measure_message_length";
	"measure_registration";
	"measure_stanza_counts";
	"measure_storage";
	"mimicking";
	"profile";  -- change to vcard4 and vcard_legacy
	"prometheus";
	"register_web";
	"s2s_bidi";
	"smacks";
	"smacks_offline";
	"watchuntrusted";
}

-- These modules are auto-loaded, but should you want
-- to disable them then uncomment them here:
modules_disabled = {
	-- "offline"; -- Store offline messages
	-- "c2s"; -- Handle client connections
	-- "s2s"; -- Handle server-to-server connections
	-- "posix"; -- POSIX functionality, sends server to background, enables syslog, etc.
}

network_backend = "epoll";

allow_registration = true;
registration_invite_only = false;
allow_user_invites = true;

block_registrations_users = {
	"abuse", "admin", "administrator", "hostmaster", "info", "news",
	"noc", "operator", "owner", "postmaster", "register", "registration",
	"root", "security", "service", "signup", "support", "sysadmin",
	"sysop", "system", "test", "trouble", "webmaster", "www", "xmpp",
}

c2s_require_encryption = true;
s2s_require_encryption = true;
s2s_secure_auth = false;  -- If cert chain is not valid, dialback will be used.

authentication = "internal_hashed";

archive_expires_after = "never";
muc_log_expires_after = "never";
storage = {
	archive2 = "xmlarchive";  -- TODO: Use 'archive'. archive2 is not used anymore.
	muc_log = "xmlarchive";
}

log = "*syslog";
-- debug = true;

ssl = {
	certificate = "/etc/letsencrypt/{{ ansible_fqdn }}.crt";
	key = "/etc/letsencrypt/{{ ansible_fqdn }}.key";
	dhparam = "/etc/prosody/certs/cluxia.eu.dh.pem";
}

http_ports = { 5280 };
http_interfaces = { "127.0.0.1", "::1" };
https_interfaces = {};
consider_bosh_secure = true;
consider_websocket_secure = true;
-- cross_domain_bosh = { "https://chat.cluxia.eu" };
-- cross_domain_websocket = { "https://chat.cluxia.eu" };

http_default_host = "cluxia.eu";
http_external_url = "https://cluxia.eu/";

http_paths = {
	bosh = "/bosh";
	register_web = "/register";
	websocket = "/websocket";
}

component_ports = { 5347 };

contact_info = {
	abuse = { "xmpp:illuminati@chat.cluxia.eu?join", "https://chat.cluxia.eu/anon/#illuminati" };
	admin = { "xmpp:illuminati@chat.cluxia.eu?join", "https://chat.cluxia.eu/anon/#illuminati" };
}

firewall_scripts = {
	"/etc/prosody/firewall/biboumi.pfw";
	"/etc/prosody/firewall/spam.pfw";
};

statistics = "internal"
statistics_interval = 15

----------- Virtual hosts -----------

VirtualHost "cluxia.eu"
	modules_enabled = { 'nodeinfo2' };

VirtualHost "anon.cluxia.eu"
	authentication = "anonymous";
	allow_anonymous_s2s = false;

	modules_enabled = { 'firewall', 'server_contact_info' };

Component "chat.cluxia.eu" "muc"
	modules_enabled = { 's2s_bidi', 'firewall', 'muc_mam', 'server_contact_info', 'vcard_muc', 'muc_occupant_id' };
	restrict_room_creation = 'local';
	muc_log_all_rooms = true;

Component "proxy.cluxia.eu" "proxy65"
	modules_enabled = { 'firewall', 'server_contact_info' };

Component "pubsub.cluxia.eu" "pubsub"
	modules_enabled = { 's2s_bidi', 'firewall', 'server_contact_info' };
	autocreate_on_publish = true;
	unrestricted_node_creation = true;
	experimental_pubsub_item_persistence = true;

Component "irc.cluxia.eu"
	component_secret = '{{ biboumi_component_password }}';
	modules_enabled = { 'firewall', 'server_contact_info' };
	module_disabled = { 's2s' };

Component "upload.cluxia.eu" "http_upload"
	modules_enabled = { 'firewall', 'server_contact_info' };
	modules_disabled = { 's2s' };

	http_external_url = "https://upload.cluxia.eu/";

Component "xmpp.rs" "muc"
	modules_enabled = { 's2s_bidi', 'muc_mam', 'server_contact_info', 'vcard_muc' };
	restrict_room_creation = 'local';
	muc_log_all_rooms = true;
