# vim: ft=conf ts=2 sts=2 sw=2 et:

server:
  rundir: "/run/knot"
  user: knot:knot
  listen: [ 0.0.0.0@53, ::@53 ]
  version: ""

log:
  - target: stdout
    any: info

database:
  storage: "{{ dns_vardir }}"

template:
  - id: default
    storage: "{{ dns_zonedir }}"
    semantic-checks: on

include: "{{ dns_confdir }}/*.conf"
