remote:
  - id: slave-gandi-{{ item }}
    address: 217.70.177.40@53

acl:
  - id: slave-gandi-{{ item }}-acl
    address: 217.70.177.40
    action: transfer

zone:
  - domain: {{ item }}
    notify: slave-gandi-{{ item }}
    acl: slave-gandi-{{ item }}-acl
