; vim: set ft=zonefile noet:

$ORIGIN {{ item }}.
$TTL 300

@ 300 IN SOA ns.cluxia.xyz. hostmaster.cluxia.xyz. (
	2020030500 ; Serial
	10800 ; Refresh (3h)
	3600 ; Retry (1h)
	604800 ; Expire (7 days)
	600 ; Minimum TTL (10mn)
)

@ NS ns.cluxia.xyz.
@ NS ns6.gandi.net.

ns A 88.198.201.250
ns AAAA 2a01:4f8:1c17:4a56::1

@ A 88.198.201.250
@ AAAA 2a01:4f8:1c17:4a56::1

@ TXT "v=spf1 -all"
