version: "2"
services:
  grafana:
    image: cluxia/grafana:5.4.2
    ports:
      - {{ grafana_container_publish }}:{{ grafana_container_port }}
    volumes:
      - {{ grafana_vhost_root }}/grafana/etc:/etc/grafana
      - {{ grafana_vhost_root }}/grafana/lib:/var/lib/grafana
      - {{ grafana_vhost_root }}/grafana/log:/var/log/grafana
