[Unit]
Description=ArchLinux Repository Syncing Service

[Service]
Environment="REPO_TOKEN={{ package_webhook_token }}"
Environment="REPO_ARCHIVES_PATH={{ package_repo_path }}"
Environment="REPO_VHOST_PATH={{ package_vhost_path }}/{{ package_repo_url_format }}/x86_64"
Environment="GITLAB_API_TOKEN={{ gitlab_api_token }}"
Environment=PYTHONUNBUFFERED=x
ExecStart=/usr/local/bin/sync-arch-repo --bind "{{ package_service_bind }}" --port "{{ package_service_port }}"
Restart=always

[Install]
WantedBy=multi-user.target
