version: "3"
services:
  prometheus:
    image: cluxia/prometheus:2.5.0
    ports:
      - '{{ prometheus_container_publish }}:{{ prometheus_container_port }}'
    volumes:
      - '{{ prometheus_vhost_root }}/prometheus/etc:/etc/prometheus'
      - '{{ prometheus_vhost_root }}/prometheus/data:/prometheus'
