# vim: ts=2 sts=2 sw=2 et
global:
  scrape_interval:     15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
  - static_configs:
    - targets:

rule_files:

scrape_configs:
  - job_name: 'prometheus'

    static_configs:
    - targets: ['localhost:9090']

  - job_name: 'prosody'
    scheme: https
    static_configs:
    - targets: ['xmpp.cluxia.eu']
      labels:
        org: 'cluxia'
    - targets: ['xmpp.bouah.net']
      labels:
        org: 'bouah'
    basic_auth:
      username: prometheus
      password: '{{ prometheus_basic_auth_plaintext_passwd }}'
